! cursor
xcursor.size: 12
Xcursor.theme: Vanilla-DMZ-AA

! fonts
Xft.antialias: 1
Xft.autohint: 0
#ifdef SRVR_rooster
Xft.dpi: 161
#else
Xft.dpi: 192
#endif
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! per-system font settings
! SVR_* is defined by xrdb
#ifndef FIXED_FONT
	#ifdef SRVR_rooster
		#define FIXED_FONT -*-terminesspowerline-medium-r-*-*-17-*-*-*-*-*-*-*
		#define FIXED_FONT_BOLD -*-terminesspowerline-bold-r-*-*-17-*-*-*-*-*-*-*
	#else
		#define FIXED_FONT -*-terminesspowerline-medium-r-*-*-24-*-*-*-*-*-*-*
		#define FIXED_FONT_BOLD -*-terminesspowerline-bold-r-*-*-24-*-*-*-*-*-*-*
	#endif
#endif

!
! urxvt
!
URxvt.font: FIXED_FONT
URxvt.boldFont: FIXED_FONT_BOLD
URxvt.italicFont: FIXED_FONT
URxvt.boldItalicFont: FIXED_FONT_BOLD

! 256 colors
URxvt.termName:rxvt-unicode-256color

! do not show scrollbar
URxvt*scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false

!
! Color
!

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6
